/*Menú*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    margin-top: -25%;
    width: 80px;
    height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #AAC42A;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li i{
    color: #AAC42A;
    margin-left: 60%;
}

li a.active, li a:hover{
   border-bottom: 1px solid #AAC42A;
    transition: .2s;
}
.checkbtn{
    font-size: 30px;
    color: #AAC42A;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#imgcab{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 95vh;
}

.Titulo{
    color: #AAC42A;
    text-align: center;
}

/*SECTION*/
.animacion{
    opacity: 0;
    transition: all 0.5s;
}

.mostrar{
    animation: mostrar 1s; 
}

@keyframes mostrar{
    0%{
        transform: translateX(60px);
    }
    100%{
        transform: translateX(0px);
    }
}

.contenedor{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-left: 8%;
}
.card{
    width: 100%;
    margin:35px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

.card img{
    width: 95%;
    height: 190px;
    margin-top: 6px;
    margin-left:  6px;
}

.card .contenido{
    padding: 15px;
}
.card .contenido h1{
    text-align: center;
}
.card .contenido p{
    text-align: justify;
    color: #6a6a6a;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 65px;
    margin-top: 10px;
    color: #AAC42A;
    border: 1px solid #AAC42A;
    border-radius: 30px;
}

/*FOOTER*/
footer{
    width: 100%;
    margin-top: 3%;
    border: 2px solid #AAC42A;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fill);
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box__footer .logo img{
    width: 95px;
    margin-top: 130px;
    margin-left: 55%;

}

.box__footer .terms{
    max-width: 550px;
    margin-top: 60px;
    padding-bottom: 45px;
    
}

.box__footer .terms p{
    max-width: 350px;
    margin-top: 85px;
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.box__footer h2{
    margin-top: 75px;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
    color: rgb(118, 175, 11);
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    margin-bottom: 20px;
}

.box__copyright p{
    margin-top: 20px;
    color: black;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #AAC42A;
}



@media (max-width: 858px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
        margin-right: -25%;
    }
    ul{
        z-index: 3;
        position: fixed;
        width: 79%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    li a:hover, li a.active{
        background: none;
        color:  #AAC42A;
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media(max-width: 858px){

    body{
        width: 80%;
    }

    #imgcab{
        width: 135%;
        height: 50vh;
    }

    .contenedor{
        display: block;
        margin-left: 35%;
        padding: 10px;
    }

    .contenedor .card{
        width: 50%;
        height: 50vh;
        padding: 10px;
    }

    .contenedor .card .contenido a{
        margin-left: 35%;
    }

    footer{
        margin-top: 10%;
        width: 131%;
    }
}

@media (max-width: 630px){
    .contenedor .card{
        width: 100%;
        height: 70vh;
        padding: 10px;
        margin-left: -20%;
    }

}
